<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="GridInteraction">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/script"/>
        <property name="context-root" value="GridInteraction"/>
        <property name="java-output-path" value="/GridInteraction/build/classes"/>
    </wb-module>
</project-modules>
