@CHARSET "ISO-8859-1";

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
}

body { overflow: hidden;}

table {
	border-spacing: 0;
	position: relative;
	height: 652px;
	width: 874px;
	outline: 1px solid silver;
	background: #eee;
}

tbody,thead,tfoot {
	position: absolute;
	background: #eee;
}

tfoot {
	bottom: 0;
	z-index: 1000;
	background: white;
}

thead {
	top: 0;
	z-index: 1000;
	background:white;
}

tbody {
	top: 53px;
	height: 545px;
	overflow: auto;
	width: 100%;
}

td>span,th>span {
	display: inline-block;
	width: 160px;
}

td input {
	height: 15px;
	width: 156px;
	display: inline-block;
}

td, th {
	height: 50px;
}

td select {
	width: 160px;
	display: inline-block;
}

.v-grid-row {
	
}

tr>:first-child>div {
	width: 50px;
	height: 15px;
}

.v-grid-row-odd {
	background: #dee;
}

.v-grid-row-even {
	background: #eff;
}

.focused-row td:first-child,.focused-row th:first-child	{
	background: #ccc;
}

.focused-column {
	background: #eee;
}

.v-grid-cell {
	border: 1px solid black;
	overflow: hidden;
	white-space: nowrap;
}

.v-grid-cell.focused {
	outline: blue solid 2px;
	border: 1px solid blue;
}

.v-grid-cell.focused-inactive {
	outline: gray solid 2px;
	border: 1px solid gray;
}

.v-grid-cell-selected {
	color: #fff;
	background: -webkit-linear-gradient(top, #6F6767, #1a82f7);
}

.v-grid-cell-selected.focused,.v-grid-cell-selected.focused-inactive {
	border-color: white;
}

.v-grid-cell.actionable {
	text-align: left;
	outline: 2px solid #05f;
}

.extra {
	position: absolute;
	font-size: 0.7em;
	top:0;
	left:2px;
}

th {
	position:relative;
}

th::after {
	content: 'Δ';
	line-height:20px;
	top:0px;
	right:5px;
	display:none;
	font-size:0.7em;
	position:absolute;
}

th.v-grid-header-sorted-asc span,
th.v-grid-header-sorted-desc span{
	/*margin-left:-5px; */
}

th.v-grid-header-sorted-asc::after{
	display:inline-block;
	-ms-transform: rotate(1800deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

th.v-grid-header-sorted-desc::after{
	display:inline-block;
}

.actionable-row {
	display:block;
	position:relative;
	box-shadow:0 0px 30px black;
	z-index:90000;	
}

.actionable-row .actionable {
	outline: none;
}

.v-grid-row-editor {
	position:absolute;
	display:block;
	width:158px;
	height: 30px;
	line-height: 30px;
	background: #383C44;
	color:white;
	text-align: center;
	box-shadow: 0 2px 2px black;
	z-index:20000;
}

.touch-context-menu {
	line-height:30px;
}

.v-grid-row-editor span,
.touch-context-menu span {
	margin-left:10px;
	margin-right:10px;
	cursor: pointer;
}

.touch-context-menu span {
	line-height: 55px;
	padding-left: 10px;
}

.v-grid-row-editor span:FIRST-CHILD::BEFORE {
	content: '✓';	
}
.v-grid-row-editor span:LAST-CHILD::BEFORE {
	content: '✗';	
}
.touch-context-menu span:FIRST-CHILD::BEFORE {
	content: '✎';	
}

.row-editor-shim {
	position:absolute;
	background:rgba(0,0,0,0.3);
}

fieldset {
	display:none;
	width:830px;
	padding:10px;
	margin-top:20px;
	border: 1px solid silver;
}

.checkbox {
	background-repeat: no-repeat !important;
	background-position-x: 15px !important;
}

